<%-include ('../partials/header.ejs')%>

<div class="showContainer">
<h2>
    <%=costume.title%>
</h2>
<img class="showImg" src="<%=costume.img%>">
<p>
    Description: <br>
    <%=costume.description%> <br>
    Price: $ <%=costume.price%> <br>
    <%if (costume.qty <= 10){%>
        <span class="low">LOW STOCK</span>
    <%} if(costume.qty === 0){%>
        <span>OUT OF STOCK</span>
        <style>
            .buyBtn{
                display: none;
            }
            .low{
                display: none;
            }
        </style>
    <%}%>
</p>
</div>
<br>
<!-- triggers buy -->
<form action="/novascloset/costumes/<%=costume._id%>/buy?_method=PUT" method="POST">
    <input type="submit" value="BUY" class="submitBtns buyBtn">
    </form>
<!-- triggers delete  -->
<form action="/novascloset/costumes/<%=costume._id%>?_method=DELETE" method="POST">
<input type="submit" value="DELETE" class="submitBtns">
</form>
<!-- sends user to edit page -->
<button class="submitBtns"><a href="/novascloset/costumes/<%=costume._id%>/edit">EDIT</a></button>

<%-include ('../partials/footer.ejs')%>