<%-include ('../partials/header.ejs')%>

<div class="showContainer">
<h2>
    <%=bandana.title%>
</h2>
<img class="showImg" src="<%=bandana.img%>">
<p>
    Description: <br>
    <%=bandana.description%> <br>
    Price: $ <%=bandana.price%> <br>
</p>
</div>
<br>
<!-- triggers delete  -->
<form action="/novascloset/bandanas/<%=bandana._id%>?_method=DELETE" method="POST">
<input type="submit" value="DELETE" class="submitBtns">
</form>
<!-- sends user to edit page -->
<button class="submitBtns"><a href="/novascloset/bandanas/<%=bandana._id%>/edit">EDIT</a></button>

<%-include ('../partials/footer.ejs')%>