<%-include ('../partials/header.ejs')%>

<div class="showContainer">
<h2>
    <%=bandana.title%>
</h2>
<img class="showImg" src="<%=bandana.img%>">
<p>
    Description: <br>
    <%=bandana.description%> <br>
    Price: $ <%=bandana.price%> <br>
</p>
</div>

<%-include ('../partials/footer.ejs')%>