<%-include ('../partials/header.ejs')%>

<div class="showContainer">
<h2>
    <%=bandana.title%>
</h2>
<img class="showImg" src="<%=bandana.img%>">
<p>
    Description: <br>
    <%=bandana.description%> <br>
    Price: $ <%=bandana.price%> <br>
    <%if (bandana.qty <= 10){%>
        <span class="low">LOW STOCK</span>
    <%} if(bandana.qty === 0){%>
        <span>OUT OF STOCK</span>
        <style>
            .buyBtn{
                display: none;
            }
            .low{
                display: none;
            }
        </style>
    <%}%>
</p>
</div>
<br>
<!-- triggers buy -->
<form action="/novascloset/bandanas/<%=bandana._id%>/buy?_method=PUT" method="POST">
    <input type="submit" value="BUY" class="submitBtns buyBtn">
    </form>
<!-- triggers delete  -->
<form action="/novascloset/bandanas/<%=bandana._id%>?_method=DELETE" method="POST">
<input type="submit" value="DELETE" class="submitBtns">
</form>
<!-- sends user to edit page -->
<button class="submitBtns"><a href="/novascloset/bandanas/<%=bandana._id%>/edit">EDIT</a></button>
<br>
<br>
<!-- returns user back to index page -->
<a class="submitBtns" href="/novascloset/bandanas"> <- Return to Nova's Bandana's </a>
<%-include ('../partials/footer.ejs')%>