<%-include ('../partials/header.ejs')%>

<div class="bandanaShowContainer">
<h2>
    <%=bandana.title%>
</h2>
<img class="bandanaShowImg" src="<%=bandana.img%>">
<p>
    Description: <br>
    <%=bandana.description%> <br>
    Price: $ <%=bandana.price%> <br>
</p>
</div>

<br>

<%-include ('../partials/footer.ejs')%>